{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'alarm/style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body background="{% static 'alarm/background.jpg' %}">
        <div class="navbar">
            <a style="float: left" href="#home">Alarme Lumus</a>
            <a href="nox">Nox</a>
            <a href="#contact">Cronometro</a>
            <a href="alarm">Despertador</a>
        </div>
        <div style="margin: 0 auto;width: 80%;">
            <div class="col-sm-4 text-center" style="float:right">
                <div class="panel panel-primary">
                    Random information
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="panel panel-primary teste">
                    {% for alarm in alarms %}
                     {{ alarm.hour }}
                     {{ alarm.marker }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>
         <div style="margin: 85 auto; text-align:center ; color:white; font-size: 300%; ">
                        {% now " H:i" %}
            </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-sm-4 ags">.col-sm-4</div>
                <div class="col-sm-4">.col-sm-4</div>
            </div>
        </div> -->
    </body>
</html>