{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'alarm/style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            var alarms;
            var actualAlarm = 0;
            var snoozeMin = 0;
            var actualAlarmHour = 0;
            var actualAlarmMinute = 0;
            var actualAlarmMarker = "";
            var actualAlarmUrl = "";
            var audio = new Audio("{% static 'alarm/audio_file.mp3' %}");

            function start() {
                testSnooze();
                alarms = "{{alarms}}";
                alarms = [{% for alarm in alarms %}
                                {% if alarm.status %}
                                    '{{ alarm.id }}:\
                                    {{ alarm.hour }}:\
                                    {{ alarm.marker }}:\
                                    {{ alarm.snooze }}:\
                                    {{ alarm.url }}',
                                {% endif %}
                            {% endfor %}];
            };

            function testSnooze() {
                if(localStorage.getItem('snooze') != null) {
                    localStorage.removeItem("snooze");
                    document.getElementById("id_hour").value = localStorage.getItem('hour');
                    document.getElementById("id_marker").value = localStorage.getItem('marker');
                    document.getElementById("id_url").value = localStorage.getItem('url');
                    document.getElementById("id_snooze").value = parseInt(localStorage.getItem('snoozeMin'));
                    document.getElementById("id_status").checked = true;
                    document.getElementById("button").click();
                }
            }

            function reloj() {
                dayName = new Array ("domingo", "segunda", "terça", "quarta", "quinta", "sexta", "sábado");
                monName = new Array ("janeiro", "fevereiro", "março", "abril", "maio", "junho", "julho", "agosto", "setembro", "outubro", "novembro", "dezembro");
                var dia = new Date();
                var hora = dia.getHours();
                var minuto = dia.getMinutes();
                var segundo = dia.getSeconds();
                var option = 2;
                
                if (minuto < 10) {
                    minuto = "0" + minuto
                };
                if (segundo < 10) {
                    segundo = "0" + segundo
                };
                
                for(i = 0; i < alarms.length; i++){
                    var fields = alarms[i].split(':');
                    if (hora == parseInt(fields[1]) && minuto == parseInt(fields[2]) && segundo == 00) {
                        if(option == 1) {
                            window.open("https://www.youtube.com/watch?v=MC64gKvh5R8&t=1s&autoplay=1");
                        } else {
                            localStorage.removeItem("snooze");
                            var hour = parseInt(parseInt(fields[1]) + Math.floor((parseInt(fields[2]) + parseInt(fields[4]))/60));
                            var minute = (parseInt(fields[2]) + parseInt(fields[4]) % 60);
                            localStorage.setItem("hour", hour+":"+minute);
                            localStorage.setItem("marker", fields[3]);
                            localStorage.setItem("url", fields[5]);
                            localStorage.setItem("snoozeMin", fields[4]);
                            actualAlarm = fields[0];
                            audio.play();
                            lumos();
                            var message = document.getElementById("message");
                            message.textContent = (fields[3]);
                            document.getElementById("alarm").style.display = "block";
                            document.getElementById("alarm").style.visibility = "visible";
                        }
                        
                    }
                };

                var tm = document.getElementById("tm");
                tm.textContent = (hora + ":" + minuto + ":" + segundo);

                var date = document.getElementById("date");
                date.textContent = (dayName[dia.getDay()] + ", " + dia.getDate() + " de " + monName[dia.getMonth()] + " de " +dia.getFullYear());
            };

            function turnoff() {
                audio.pause();
                audio.currentTime = 0;
                document.getElementById("alarm").style.visibility = "hidden";
                window.location.href = "/update/"+actualAlarm;
            };

            function snooze() {
                localStorage.setItem('snooze', "ok");
                turnoff();
            }

            function nox() {
                document.getElementById("nox").style.display = "block";
                document.getElementById("nox").style.visibility = "visible";
            };

            function lumos() {
                document.getElementById("nox").style.visibility = "hidden";
            };

            setInterval(reloj, 1000);
        </script>
    </head>
    <body background="{% static 'alarm/background.jpg' %}" onload="start()">
        <div class="navbar">
            <a style="float: left" href="/">Alarme Lumus</a>
            <a href="#" onclick="nox(); return false;">Nox</a>
            <a href="#contact">Cronometro</a>
            <a href="alarm">Despertador</a>
        </div>

        {% block content %} {% endblock %}

       <div class="esconde" id="nox">
            <div id="divOnTop">
                <a href="#" onclick="lumos(); return false;">
                    <img class="imgAlarm" src="{% static 'alarm/lumus.jpeg' %}">
                </a>
            </div>
            <div id="backLumos"></div>
        </div>

    </body>
</html>